/**** Navegacion ****/
/***http://cdn29.us1.fansshare.com/pictures/tumblrbackgrounds/tumblr-backgrounds-hipster-286193618.jpg***/

header{
    text-align: center; 
    background: url("http://www.themesltd.com/backgrounds/hipster/stormy_red_nebula_galaxy.jpg");
    background-size: cover;
    color: white;
    padding: 10px;
    
    
}

img{
    width: 50%;
    margin: 40px 0px 0px 0px;     
    border: 7px solid white;
    border-radius: 500px; 
    
}

a{
    color: white;
    padding: 10px;
     
}

h1{
    font-size: 50px;
    
    
}

ul{
    background: black; 
    padding: 5px;
    border-radius: 50px;
    
    
}

li{
    list-style: none;
    display: inline;
    font-size: 20px;
    
    
}

article{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: justify;
    
    
}

@media(max-width:500px){
    h1{
        font-size: 20px;
    }
    li{
        display:block;
    }
    
    
    
}